*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativ	git config --global user.email "you@example.com"
              			git config --global user.name "Your Name"

              			to set your account's default identity.
              			Omit --global to set the identity only in this repository.eBuild
.cxx
[user]
    name = name
    email = email
