<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.feemoo.fmapp">
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity android:name=".activity.login.ForgetPassActivity" />
        <activity android:name=".activity.cloud.DownHisActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5f476af49bb213091b8a880d" /> <!-- value的值填写渠道名称，例如yingyongbao。这里设置动态渠道变量 -->
        <!--
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        -->
        <activity android:name=".phoneArea.PhoneAreaCodeActivity" />
        <activity android:name=".activity.MyInfo.CardPackageActivity" />
        <activity android:name=".activity.MyInfo.SignInActivity" />
        <activity android:name=".activity.AuthorizationLoginActivity" />
        <activity android:name=".activity.ScanActivity" />
        <activity android:name=".activity.cloud.ShareSearchActivity" />
        <activity android:name=".activity.cloud.DownSeachActivity" />
        <activity android:name=".activity.cloud.StarSeachActivity" />
        <activity android:name=".activity.cloud.WorkSeachActivity" />
        <activity android:name=".activity.cloud.CloudSeachActivity" />
        <activity android:name=".activity.select.JXSeachActivity" />
        <!--
    productFlavors {
        Alpha {//自己打包测试使用
        // manifestPlaceholders = [UMENG_CHANNEL_VALUE: Alpha]
        }
        Tencent {//投放应用宝市场
        // manifestPlaceholders = [UMENG_CHANNEL_VALUE: Tencent]
        }
        Baidu {//投放百度市场
        // manifestPlaceholders = [UMENG_CHANNEL_VALUE: Baidu]
        }
        Qihoo {//投放360市场
        // manifestPlaceholders = [UMENG_CHANNEL_VALUE: Qihoo]
        }
        Alibaba {//投放阿里巴巴
        // manifestPlaceholders = [UMENG_CHANNEL_VALUE: Alibaba]
        }
        Vivo {//投放vivo市场
        // manifestPlaceholders = [UMENG_CHANNEL_VALUE: Vivo]
        }
        Oppo {//投放oppo市场
        // manifestPlaceholders = [UMENG_CHANNEL_VALUE: Oppo]
        }
        Xiaomi {//投放小米市场
        // manifestPlaceholders = [UMENG_CHANNEL_VALUE: Xiaomi]
        }
        Huawei {//投放华为应用市场
        // manifestPlaceholders = [UMENG_CHANNEL_VALUE: Huawei]
        }

        productFlavors.all { flavor ->
        flavor.manifestPlaceholders = [UMENG_CHANNEL_VALUE: name]
        }
        }
        -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity android:name=".activity.select.ProjectDetailsActivity" />
        <activity android:name=".activity.MyInfo.VipInfoActivity" />
        <activity android:name=".activity.MyInfo.MessageActivity" />
        <activity android:name=".activity.MyInfo.BindPhoneActivity" />
        <activity android:name=".activity.MyInfo.CustomerServiceActivity" />
        <activity
            android:name=".activity.file.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".activity.file.work.workFilePreviewActivity" />
        <activity android:name=".activity.file.ZipPreviewActivity" />
        <activity android:name=".activity.login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.file.zip.ZipRarFileActivity" />
        <activity android:name=".activity.file.OfficeActivity" />
        <activity android:name=".activity.file.PictureActivity" />
        <activity android:name=".activity.file.cloud.FilePreviewActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.cloud.DownLoadListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.androidev.download" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.cloud.LiveSpaceActivity" />
        <activity android:name=".activity.cloud.DownLoadActivity" />
        <activity android:name=".activity.MyInfo.SettingActivity" />
        <activity android:name=".activity.MyInfo.MemberActivity" />
        <activity android:name=".activity.login.Register02Activity" />
        <activity android:name=".activity.login.RegisterProtocolActivity" />
        <activity android:name=".activity.login.RegisterActivity" /> <!-- 竖屏绘制到耳朵区 -->
        <activity android:name=".activity.login.LoginActivity" />
        <activity android:name=".activity.main.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.feemoo.fmapp.android7.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="WrongManifestParent"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.KeepLifeService"
            android:process=":keepLife" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity=".wxapi.WXPayEntryActivity" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>